<% include ../partials/header2 %>


<div id="topbar">
	<h1>Organization</h1>
</div><!-- topbar -->

<form id="organizationform" action="/organization/<%= thisorg.organization_id %>?_method=PUT" method="POST">
<fieldset id="ableorganizationform" disabled="disabled">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="organizationname">Organization Name</label>
				<input type="text" class="form-control requiredfield" id="organizationname" name="organizationname" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6">
			<div class="form-group">
				<label for="organizationwebsite">Website</label>
				<input type="text" class="form-control" id="organizationwebsite" name="organizationwebsite" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="organizationrole">Role</label>
				<select class="form-control" id="organizationrole" name="organizationrole">
					<option value="0">Select</option>
                    <% userRole.enums.forEach(function(enumItem) { %>
                    <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                    <% }); %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="organizationtype">Type</label>
				<select class="form-control" id="organizationtype" name="organizationtype">
					<option value="0">Select</option>
                    <% organizationType.enums.forEach(function(enumItem) { %>
                    <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                    <% }); %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="organizationrolestatus">Role Status</label>
				<select class="form-control" id="organizationrolestatus" name="organizationrolestatus">
					<option value="0">Select</option>
                    <% userRoleStatus.enums.forEach(function(enumItem) { %>
                    <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                    <% }); %>
				</select>
			</div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="organizationnote">Note</label>
				<textarea class="form-control" id="organizationnote" name="organizationnote"></textarea>
			</div>
		</div>
	</div><!-- row -->
</fieldset>
	<div id="cancelsaveorganization" class="buttonrow">
		<button type="reset" class="btn btn-warning btn-md mainresetbtn" id="resetorganization" name="resetorganization">Cancel</button>
		<button type="submit" class="btn btn-warning btn-md mainsubmitbtn" id="submitorganization" name="submitorganization">Save</button>
	</div>
</form>
	<div id="editdeleteorganization" class="buttonrow">
		<!-- NOTE: Insert Code for Development/Production -->
		<!-- Input route for id method=DELETE" method="POST" -->
 		<button class="btn btn-primary btn-md maineditbtn" id="editorganization"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        <form class="oneline" action="/organization/<%= thisorg.organization_id %>?_method=DELETE" method="post">
            <button class="btn btn-danger btn-md maindeletebtn" id="deleteorganization" name="deleteorganization"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
	</div>


<div id="taskpanel">
	<ul class="nav nav-pills" role="tablist" id="navmenu">
		<li role="presentation" class="active"><a href="#contact" aria-controls="contact" role="tab" data-toggle="pill">Contact</a></li>
		<li role="presentation"><a href="#personorgrelationships" aria-controls="personorgrelationships" role="tab" data-toggle="pill">People</a></li>
		<li role="presentation"><a href="#organizationsrelationships" aria-controls="organizationsrelationships" role="tab" data-toggle="pill">Organizations</a></li>
		<li role="presentation"><a href="#companycases" aria-controls="companycases" role="tab" data-toggle="pill">Cases</a></li>
	</ul>
	<div class="tab-content">

		<div role="tabpanel" class="tab-pane active" id="contact">
			
		<h4><button id="pluscontactphone" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Phone</h4>
			
		<form id="contactphoneform" class="toggleform" action="/contactphone" method="post">
		    <div class="row">
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactphonetype">Type</label>
						<select class="form-control" id="contactphonetype" name="contactphonetype">
							<option value="0" selected>Select</option>
                            <% contactPhoneType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactphonenumber">Number</label>
						<input type="text" class="form-control requiredfield" id="contactphonenumber" name="contactphonenumber" size="15" maxlength="15" value=""/>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="phonenote">Note</label>
						<textarea class="form-control" id="phonenote" name="phonenote"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="row" hidden>
				<div class="col-sm-6">
					<label for="phoneorgid">Organization ID</label>
					<input type="text" class="form-control" id="phoneorgid" name="phoneorgid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
				<div class="col-sm-6">
					<label for="phonepersonid">Person ID</label>
					<input type="text" class="form-control" id="phonepersonid" name="phonepersonid" size="10" maxlength="10" readonly value=""/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetcontactphone" name="resetcontactphone">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitcontactphone" name="submitcontactphone">Submit</button>
					</div>
		</form>

		<% if (org_contact_phone.length > 0) { %>
		<table id="phonedisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Type</th>
					<th>Phone Number</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% org_contact_phone.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<% for (var i = 0; i < org_contact_phone.length; i += 1) {
					var phtype = "phtype" + i; 
					var phnumber = "phnumber" + i; 
					var phnote = "phnote" + i; 
					var editphone = "editphone" + i;
					var removephone = "removephone" + i; 
			%>
				<tr>
					<td><span id="<%= phtype %>"><%= org_contact_phone[i].lk_phone_type %></span><%= org_contact_phone[i].phone_type %></td>
					<td id="<%= phnumber %>"><%= org_contact_phone[i].phone_number %></td>
					</td></td>
				</tr>
				<tr>
					<td colspan="2">						
						<strong>Note:</strong> <span id="<%= phnote %>"><%= org_contact_phone[i].note %></span>
					</td>
					<td class="tablebtns" id="<%= org_contact_phone[i].phone_id %>">
						<button class="btn btn-primary btn-md tableeditbtn contactphoneeditbtn" id="<%= editphone %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removephone %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
        <% } %>

		<hr>

		<h4><button id="pluscontactemail" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Email</h4>

		<form id="contactemailform" class="toggleform" action="/contactemail" method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactemailtype">Type</label>
						<select class="form-control" id="contactemailtype" name="contactemailtype">
							<option value="0" selected>Select</option>
                            <% contactEmailType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactemailaddress">Email</label>
						<input type="text" class="form-control requiredfield" id="contactemailaddress" name="contactemailaddress" size="90" maxlength="120" value=""/>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="emailnote">Note</label>
						<textarea class="form-control" id="emailnote" name="emailnote"></textarea>
					</div>
				</div>
				</div><!-- row -->
				<div class="row" hidden>
					<div class="col-sm-6">
						<label for="emailorgid">Organization ID</label>
						<input type="text" class="form-control" id="emailorgid" name="emailorgid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
					</div>
					<div class="col-sm-6">
						<label for="emailpersonid">Person ID</label>
						<input type="text" class="form-control" id="emailpersonid" name="emailpersonid" size="10" maxlength="10" readonly value=""/>
					</div>
				</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetcontactemail" name="resetcontactemail">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitcontactemail" name="submitcontactemail">Submit</button>
			</div>
		</form>			

		<% if (org_contact_email.length > 0) { %>
		<table id="emaildisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Type</th>
					<th>Email Address</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% org_contact_email.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<% for (var i = 0; i < org_contact_email.length; i += 1) {
					var emtype = "emtype" + i; 
					var emaddress = "emaddress" + i; 
					var emnote = "emnote" + i; 
					var editemail = "editemail" + i;
					var removeemail = "removeemail" + i; 
			%>
				<tr>
					<td id="<%= emtype %>"><%= org_contact_email[i].lk_email_type %></td>
					<td id="<%= emaddress %>"><%= org_contact_email[i].email_address %></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">						
						<strong>Note:</strong> <span id="<%= emnote %>"><%= org_contact_email[i].note %></span>
					</td>
					<td class="tablebtns" id="<%= org_contact_email[i].email_id %>">
						<button class="btn btn-primary btn-md tableeditbtn contactemaileditbtn" id="<%= editemail %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removeemail %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 					</td>
				</tr>
        	<% } %>
			</tbody>
		</table>
        <% } %>

		<hr>		

		<h4><button id="pluscontactfax" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Fax</h4>
			
			<form id="contactfaxform" class="toggleform" action="/contactfax" method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactfaxtype">Type</label>
						<select class="form-control" id="contactfaxtype" name="contactfaxtype">
							<option value="0" selected>Select</option>
                            <% contactFaxType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactfaxnumber">Number</label>
						<input type="text" class="form-control requiredfield" id="contactfaxnumber" name="contactfaxnumber" size="15" maxlength="15" value=""/>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="faxnote">Note</label>
						<textarea class="form-control" id="faxnote" name="faxnote"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="row" hidden>
				<div class="col-sm-6">
					<label for="faxorgid">Organization ID</label>
					<input type="text" class="form-control" id="faxorgid" name="faxorgid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
				<div class="col-sm-6">
					<label for="faxpersonid">Person ID</label>
					<input type="text" class="form-control" id="faxpersonid" name="faxpersonid" size="10" maxlength="10" readonly value=""/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetcontactfax" name="resetcontactfax">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitcontactfax" name="submitcontactfax">Submit</button>
			</div>
		</form>

		<% if (org_contact_fax.length > 0) { %>
		<table id="faxdisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Type</th>
					<th>Fax Number</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% org_contact_fax.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<%  for (var i = 0; i < org_contact_fax.length; i += 1) {
					var faxtype = "faxtype" + i;
					var faxnumber = "faxnumber" + i; 
					var faxnote = "faxnote" + i; 
					var editfax = "editfax" + i;
					var removefax = "removefax" + i; 
			%>
				<tr>
					<td id="<%= faxtype %>"><%= org_contact_fax[i].lk_fax_type %><%= org_contact_fax[i].fax_type %></td>
					<td id="<%= faxnumber %>"><%= org_contact_fax[i].fax_number %></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">						
						<strong>Note:</strong> <span id="<%= faxnote %>"><%= org_contact_fax[i].note %></span>
					</td>
					<td class="tablebtns" id="<%= org_contact_fax[i].fax_id %>">
						<button class="btn btn-primary btn-md tableeditbtn contactfaxeditbtn" id="<%= editfax %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removefax %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 					</td>
				</tr>
        	<% } %>
			</tbody>
		</table>
        <% } %>

		<hr>		

		<h4><button id="pluscontactmedia" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Social Media</h4>

		<form id="contactmediaform" class="toggleform" action="/contactmedia" method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactmediatype">Type</label>
						<select class="form-control" id="contactmediatype" name="contactmediatype">
							<option value="0" selected>Select</option>
                            <% contactMediaType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6">
					<div class="form-group">
						<label for="contactmediahandle">Social Media Handle</label>
						<input type="text" class="form-control requiredfield" id="contactmediahandle" name="contactmediahandle" size="90" maxlength="120"/>
					</div>
				</div>
			</div><!-- row -->
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="medianote">Note</label>
						<textarea class="form-control" id="medianote" name="medianote"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="row" hidden>
				<div class="col-sm-6">
					<label for="mediaorgid">Org ID</label>
					<input type="text" class="form-control" id="mediaorgid" name="mediaorgid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
				<div class="col-sm-6">
					<label for="mediapersonid">Person ID</label>
					<input type="text" class="form-control" id="mediapersonid" name="mediapersonid" size="10" maxlength="10" readonly value=""/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetcontactmedia" name="resetcontactmedia">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitcontactmedia" name="submitcontactmedia">Submit</button>
			</div>
		</form>			

		<% if (org_contact_media.length > 0) { %>
		<table id="mediadisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Type</th>
					<th>Social Media Handle</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% org_contact_media.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<%  for (var i = 0; i < org_contact_media.length; i += 1) {
					var mediatype = "mediatype" + i;
					var mediahandle = "mediahandle" + i; 
					var medianote = "medianote" + i; 
					var editmedia = "editmedia" + i;
					var removemedia = "removemedia" + i; 
			%>
				<tr>
					<td id="<%= mediatype %>"><%= org_contact_media[i].lk_media_type %><%= org_contact_media[i].media_type %></td>
					<td id="<%= mediahandle %>"><%= org_contact_media[i].media_handle %></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">						
						<strong>Note:</strong> <span id="<%= medianote %>"><%= org_contact_media[i].note %></span>
					</td>
					<td class="tablebtns" id="<%= org_contact_media[i].media_id %>">
						<button class="btn btn-primary btn-md tableeditbtn contactmediaeditbtn" id="<%= editmedia %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removemedia %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 					</td>
				</tr>
        	<% } %>
			</tbody>
		</table>
        <% } %>

		<hr>

		<h4><button id="pluscontactaddress" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Address</h4>

			<form id="contactaddressform" class="toggleform" action="/contactaddress" method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactaddresstype">Type</label>
						<select class="form-control" id="contactaddresstype" name="contactaddresstype">
							<option value="0" selected>Select</option>
                            <% contactAddressType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
			</div><!-- row -->
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="contactstreet">Address</label>
						<textarea class="form-control requiredfield" id="contactstreet" name="contactstreet" maxlength="500"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactcity">City</label>
						<input type="text" class="form-control requiredfield" id="contactcity" name="contactcity" size="30" maxlength="30"/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactstate">State</label>
						<input type="text" class="form-control requiredfield" id="contactstate" name="contactstate" size="90" maxlength="100"/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactzipcode">Zip Code</label>
						<input type="text" class="form-control requiredfield" id="contactzipcode" name="contactzipcode" size="10" maxlength="10"/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactstatecode">State Code</label>
						<select class="form-control" id="contactstatecode" name="contactstatecode">
							<option value="0" selected>Select</option>
                            <% contactStateCode.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="contactcountrycode">Country Code</label>
						<select class="form-control" id="contactcountrycode" name="contactcountrycode">
							<option value="0" selected>Select</option>
                            <% contactCountryCode.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-12">
					<div class="form-group">
						<label for="addressnote">Note</label>
						<textarea class="form-control" id="addressnote" name="addressnote"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="row" hidden>
				<div class="col-sm-6">
					<label for="addressorgid">Org ID</label>
					<input type="text" class="form-control" id="addressorgid" name="addressorgid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
				<div class="col-sm-6">
					<label for="addresspersonid">Person ID</label>
					<input type="text" class="form-control" id="addresspersonid" name="addresspersonid" size="10" maxlength="10" readonly value=""/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetcontactaddress" name="resetcontactaddress">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitcontactaddress" name="submitcontactaddress">Submit</button>
			</div>
		</form>
	
		<% if (org_contact_address.length > 0) { %>
		<table id="addressdisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Type</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Zip Code</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% org_contact_address.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<%  for (var i = 0; i < org_contact_address.length; i += 1) {
					var addresstype = "addresstype" + i;
					var addressstreet = "addressstreet" + i; 
					var addresscity = "addresscity" + i; 
					var addressstate = "addressstate" + i; 
					var addresszipcode = "addresszipcode" + i; 
					var addressstatecode = "addressstatecode" + i; 
					var addresscountrycode = "addresscountrycode" + i; 
					var addressnote = "addressnote" + i; 
					var editaddress = "editaddress" + i;
					var removeaddress = "removeaddress" + i; 
			%>
				<tr>
					<td><span id="<%= addresstype %>"><%= org_contact_address[i].lk_address_type %></span><%= org_contact_address[i].address_type %></td>
					<td id="<%= addressstreet %>"><%= org_contact_address[i].address %></td>
					<td id="<%= addresscity %>"><%= org_contact_address[i].city %></td>
					<td id="<%= addressstate %>"><%= org_contact_address[i].lk_state %></td>
					<td id="<%= addresszipcode %>"><%= org_contact_address[i].zipcode %></td>
				</tr>
				<tr>
					<td colspan="5">						
						<p><strong>State Code:</strong> <span id="<%= addressstatecode %>"><%= org_contact_address[i].lk_statecode %></span> &nbsp; &nbsp;
						<strong>Country Code:</strong> <span id="<%= addresscountrycode %>"><%= org_contact_address[i].lk_countrycode %></span></p>
						<strong>Note:</strong> <span id="<%= addressnote %>"><%= org_contact_address[i].note %></span>
					</td>
					<td class="tablebtns" id="<%= org_contact_address[i].address_id %>">
						<button class="btn btn-primary btn-md tableeditbtn contactaddresseditbtn" id="<%= editaddress %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removeaddress %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
 					</td>
				</tr>
        	<% } %>
			</tbody>
		</table>
        <% } %>

	</div><!-- tabpanel contact -->



<!--  ******************************************************************************************************** -->



		<div role="tabpanel" class="tab-pane" id="personorgrelationships">

<div class="buttonrow creatediv">
	<p><a href="/person" class="btn btn-primary btn-md" id="createpersonbtn">Create Person</a></p>
</div>

		<h4><button id="pluspersonorgrelationship" class="btn btn-default btn-md plusbtn2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Person</h4>
	
		<form id="personorgrelationshipform" class="toggleform" action="/personorgrelationship" method="post">
        <fieldset id="ablepersonorgrelationship">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="form-group">
						<label for="personorgpersonid">Person Name</label>
						<select class="form-control requiredfield" id="personorgpersonid" name="personorgpersonid">
							<option value="0" selected>Select</option>
							<% person.sort(function(a,b) {
				                return (a.person_id > b.person_id) ? 1 : ((b.person_id > a.person_id) ? -1 : 0);
			                }); %>
							<% for (var i = 0; i < person.length; i += 1) { %>
							<option value="<%= person[i].person_id %>"><%= person[i].last_name %>, <%= person[i].first_name %> <%= person[i].middle_name %></option>
                            <% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-4">
					<div class="form-group">
						<label for="personorgcontacttype">Contact Type</label>
						<select class="form-control requiredfield" id="personorgcontacttype" name="personorgcontacttype">
							<option value="0" selected>Select</option>
                            <% contactType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-4">
					<div class="form-group">
						<label for="personorgrelationshiptype">Relationship Type</label>
						<select class="form-control" id="personorgrelationshiptype" name="personorgrelationshiptype">
							<option value="0" selected>Select</option>
                            <% personOrganizationRelationship.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
			</div><!-- row -->
			</fieldset>
            <div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="personorgrelationshipendreason">End Reason</label>
						<textarea class="form-control" id="personorgrelationshipendreason" name="personorgrelationshipendreason" maxlength="500" disabled></textarea>
					</div>
				</div>
			</div><!-- row -->
            <div class="row" hidden>
				<div class="col-xs-6">
					<label for="personorgorganizationid">Organization ID</label>
					<input type="text" class="form-control" id="personorgorganizationid" name="personorgorganizationid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
				<div class="col-xs-6">
					<label for="personorgscreen">Screen</label>
					<input type="text" class="form-control" id="personorgscreen" name="personorgscreen" size="6" maxlength="6" readonly value="org"/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetpersonorgrelationship" name="resetpersonorgrelationship">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitpersonorgrelationship" name="submitpersonorgrelationship">Submit</button>
			</div>
		</form>

	<div class="form-group">
		<label for="expandpersonrelationships" class="btn btn-sm btn-default">
			<input type="radio" name="showpersonrelationships" id="expandpersonrelationships" class="expandpersonrelbtn"> Show Tables
		</label>
		<label for="collapsepersonrelationships" class="btn btn-sm btn-default">
			<input type="radio" name="showpersonrelationships" id="collapsepersonrelationships" class="collapsepersonrelbtn" checked> Hide Tables
		</label>
	</div>

<br>

	<button class="btn btn-default morerelationshipbtn" id="btnpersoncasesupporttable">Case Support</button>

	<div id="personcasesupporttable" class="personrelationshiptable">
		<table id="person_casesupportsdisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Person Name</th>
					<th>Primary Phone</th>
					<th>Primary Email</th>
					<th>Relationship Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% personorg_relationship.sort(function(a,b) {
			    return (a.lk_contact_type > b.lk_contact_type) ? 1 : ((b.lk_contact_type > a.lk_contact_type) ? -1 : 0);
			    return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
            <% var i = 0;
			   var contacttype = "1";
			while ((i < personorg_relationship.length) && (personorg_relationship[i].lk_contact_type === contacttype)) {
				var porelation_personid = "porelation_personid" + i;
				var porelation_contacttype = "porelation_contacttype" + i;
				var porelation_relationshiptype = "porelation_relationshiptype" + i;
				var porelation_status = "porelation_status" + i;
				var porelation_startdate = "porelation_startdate" + i;
				var porelation_enddate = "porelation_enddate" + i;
				var porelation_endreason = "porelation_endreason" + i;
				var endpersonorgrelationship = "endpersonorgrelationship" + i;
				var removepersonorgrelationship = "removepersonorgrelationship" + i;
			%>
				<tr>
					<td><span hidden id="<%= porelation_personid %>"><%= personorg_relationship[i].person_id %></span><a href="/person/<%= personorg_relationship[i].person_id %>"><%= personorg_relationship[i].person_name %></a></td>
					<td><%= personorg_relationship[i].primary_phone %></td>
					<td><%= personorg_relationship[i].primary_email %></td>
					<td><span hidden id="<%= porelation_contacttype %>"><%= personorg_relationship[i].lk_contact_type %></span><span id="<%= porelation_relationshiptype %>"><%= personorg_relationship[i].lk_person_organization_relationship_type %></span></td>
					<td><span id="<%= porelation_status %>"><%= personorg_relationship[i].lk_status %></span></td>
				</tr>
				<tr>
					<td colspan="4">
						<p><strong>Start Date:</strong> <span id="<%= porelation_startdate %>"><%= personorg_relationship[i].start_date %></span> &nbsp;&nbsp; <strong>End Date:</strong> <span class="endpor" id="<%= porelation_enddate %>"><%= personorg_relationship[i].end_date %></span></p>	
						<p><strong>End Reason:</strong> <span id="<%= porelation_endreason %>"><%= personorg_relationship[i].end_reason %></span></p>
					</td>
					<td class="tablebtns" id="<%= personorg_relationship[i].person_organization_id %>">
						<button class="btn btn-warning btn-md tableendbtn personorgrelationshipendbtn" id="<%= endpersonorgrelationship %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    <form action="#" method="post">
	                        <button class="btn btn-danger btn-md tableremovebtn endthisbtn" id="<%= removepersonorgrelationship %>" name="removepersonorgrelationship"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    </form>
					</td>
				</tr>
            <% i += 1;
			} %>
			</tbody>
		</table>
	</div><!-- personcasesupporttable -->

<br><br>


	<button class="btn btn-default morerelationshipbtn" id="btnpersonexternalsupporttable">External Support</button>

	<div id="personexternalsupporttable" class="personrelationshiptable">
		<table id="person_externaldisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Person Name</th>
					<th>Primary Phone</th>
					<th>Primary Email</th>
					<th>Relationship Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
            <% var contacttype = "3";
			while ((i < personorg_relationship.length) && (personorg_relationship[i].lk_contact_type === contacttype)) {
				var porelation_personid = "porelation_personid" + i;
				var porelation_contacttype = "porelation_contacttype" + i;
				var porelation_relationshiptype = "porelation_relationshiptype" + i;
				var porelation_status = "porelation_status" + i;
				var porelation_startdate = "porelation_startdate" + i;
				var porelation_enddate = "porelation_enddate" + i;
				var porelation_endreason = "porelation_endreason" + i;
				var endpersonorgrelationship = "endpersonorgrelationship" + i;
				var removepersonorgrelationship = "removepersonorgrelationship" + i;
			%>
				<tr>
					<td><span hidden id="<%= porelation_personid %>"><%= personorg_relationship[i].person_id %></span><a href="/person/<%= personorg_relationship[i].person_id %>"><%= personorg_relationship[i].person_name %></a></td>
					<td><%= personorg_relationship[i].primary_phone %></td>
					<td><%= personorg_relationship[i].primary_email %></td>
					<td><span hidden id="<%= porelation_contacttype %>"><%= personorg_relationship[i].lk_contact_type %></span><span id="<%= porelation_relationshiptype %>"><%= personorg_relationship[i].lk_person_organization_relationship_type %></span></td>
					<td><span id="<%= porelation_status %>"><%= personorg_relationship[i].lk_status %></span></td>
				</tr>
				<tr>
					<td colspan="4">
						<p><strong>Start Date:</strong> <span id="<%= porelation_startdate %>"><%= personorg_relationship[i].start_date %></span> &nbsp;&nbsp; <strong>End Date:</strong> <span class="endpor" id="<%= porelation_enddate %>"><%= personorg_relationship[i].end_date %></span></p>	
						<p><strong>End Reason:</strong> <span id="<%= porelation_endreason %>"><%= personorg_relationship[i].end_reason %></span></p>
					</td>
					<td class="tablebtns" id="<%= personorg_relationship[i].person_organization_id %>">
						<button class="btn btn-warning btn-md tableendbtn personorgrelationshipendbtn" id="<%= endpersonorgrelationship %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    <form action="#" method="post">
	                        <button class="btn btn-danger btn-md tableremovebtn endthisbtn" id="<%= removepersonorgrelationship %>" name="removepersonorgrelationship"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    </form>
					</td>
				</tr>
            <% i += 1;
			} %>
			</tbody>
		</table>
	</div><!-- personexternalsupporttable -->


 	</div><!-- relatedpersonorg -->



<!-- ************************************************************************************************************************ -->



		<div role="tabpanel" class="tab-pane" id="organizationsrelationships">

<div class="buttonrow creatediv">
	<p><a href="/organization" class="btn btn-primary btn-md" id="createorganizationbtn">Create Organization</a></p>
</div>

		<h4><button id="plusorganizationrelationship" class="btn btn-default btn-md plusbtn2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Organization</h4>
	
		<form id="organizationrelationshipform" class="toggleform" action="/organizationrelationship" method="post">
        <fieldset id="ableorganizationrelationship">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4">
					<div class="form-group">
						<label for="orgreltwoorganizationid">Organization Name</label>
						<select class="form-control requiredfield" id="orgreltwoorganizationid" name="orgreltwoorganizationid">
							<option value="0" selected>Select</option>
					<% organization.sort(function(a,b) {
						return (a.organization_id > b.organization_id) ? 1 : ((b.organization_id > a.organization_id) ? -1 : 0);
					}); %>
					<% for (var i = 0; i < organization.length; i += 1) { %>
							<option value="<%= organization[i].organization_id %>"><%= organization[i].organization_name %></option>
					<% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-4">
					<div class="form-group">
						<label for="organizationcontacttype">Contact Type</label>
						<select class="form-control requiredfield" id="organizationcontacttype" name="organizationcontacttype">
							<option value="0" selected>Select</option>
                            <% contactType.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-4">
					<div class="form-group">
						<label for="organizationrelationshiptype">Relationship Type</label>
						<select class="form-control" id="organizationrelationshiptype" name="organizationrelationshiptype">
							<option value="0" selected>Select</option>
                            <% organizationOrganizationRelationship.enums.forEach(function(enumItem) { %>
                            <option value="<%= enumItem.value %>"><%= enumItem.key %></option>
                            <% }); %>
						</select>
					</div>
				</div>
			</div><!-- row -->
			</fieldset>
            <div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="organizationrelationshipendreason">End Reason</label>
						<textarea class="form-control" id="organizationrelationshipendreason" name="organizationrelationshipendreason" maxlength="500" disabled></textarea>
					</div>
				</div>
				<div class="col-xs-6" hidden>
					<label for="orgreloneorganizationid">Organization ID</label>
					<input type="text" class="form-control" id="orgreloneorganizationid" name="orgreloneorganizationid" size="10" maxlength="10" readonly value="<%= thisorg.organization_id %>"/>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resetorganizationrelationship" name="resetorganizationrelationship">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submitorganizationrelationship" name="submitorganizationrelationship">Submit</button>
			</div>
		</form>

	<div class="form-group">
		<label for="expandorgrelationships" class="btn btn-sm btn-default">
			<input type="radio" name="showorgrelationships" id="expandorgrelationships" class="expandorgrelbtn"> Show Tables
		</label>
		<label for="collapseorgrelationships" class="btn btn-sm btn-default">
			<input type="radio" name="showorgrelationships" id="collapseorgrelationships" class="collapseorgrelbtn" checked> Hide Tables
		</label>
	</div>

<br>

	<button class="btn btn-default morerelationshipbtn" id="btnorgcasesupporttable">Case Support</button>

	<div id="orgcasesupporttable" class="orgrelationshiptable">
		<table id="org_casesupportdisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Organization Name</th>
					<th>Primary Phone</th>
					<th>Primary Email</th>
					<th>Relationship Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% organization_relationship.sort(function(a,b) {
			    return (a.lk_contact_type > b.lk_contact_type) ? 1 : ((b.lk_contact_type > a.lk_contact_type) ? -1 : 0);
			    return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
            <% var i = 0;
			   var contacttype = "1";
			while ((i < organization_relationship.length) && (organization_relationship[i].lk_contact_type === contacttype)) {
 				var oorelation_organizationid = "oorelation_organizationid" + i;
				var oorelation_contacttype = "oorelation_contacttype" + i;
				var oorelation_relationshiptype = "oorelation_relationshiptype" + i;
				var oorelation_status = "oorelation_status" + i;
				var oorelation_startdate = "oorelation_startdate" + i;
				var oorelation_enddate = "oorelation_enddate" + i;
				var oorelation_endreason = "oorelation_endreason" + i;
				var endorganizationrelationship = "endorganizationrelationship" + i;
				var removeorganizationrelationship = "removeorganizationrelationship" + i;
			%>
				<tr>
					<td><span hidden id="<%= oorelation_organizationid %>"><%= organization_relationship[i].organization_id2 %></span><a href="/organization/<%= organization_relationship[i].organization_id2 %>"><%= organization_relationship[i].organization_name %></a></td>
					<td><%= organization_relationship[i].primary_phone %></td>
					<td><%= organization_relationship[i].primary_email %></td>
					<td><span hidden id="<%= oorelation_contacttype %>"><%= organization_relationship[i].lk_contact_type %></span><span id="<%= oorelation_relationshiptype %>"><%= organization_relationship[i].lk_organization_relationship_type %></span></td>
					<td><span id="<%= oorelation_status %>"><%= organization_relationship[i].lk_status %></span></td>
				</tr>
				<tr>
					<td colspan="4">
						<p><strong>Start Date:</strong> <span id="<%= oorelation_startdate %>"><%= organization_relationship[i].start_date %></span> &nbsp;&nbsp; <strong>End Date:</strong> <span class="endoor" id="<%= oorelation_enddate %>"><%= organization_relationship[i].end_date %></span></p>	
						<p><strong>End Reason:</strong> <span id="<%= oorelation_endreason %>"><%= organization_relationship[i].end_reason %></span></p>
					</td>
					<td class="tablebtns" id="<%= organization_relationship[i].organization_relationship_id %>">
						<button class="btn btn-warning btn-md tableendbtn organizationrelationshipendbtn" id="<%= endorganizationrelationship %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    <form action="#" method="post">
	                        <button class="btn btn-danger btn-md tableremovebtn endthisbtn" id="<%= removeorganizationrelationship %>" name="removeorganizationrelationship"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    </form>
					</td>
				</tr>
             <% i += 1;
			} %>
			</tbody>
		</table>
	</div><!-- orgcasesupporttable -->

<br><br>

	<button class="btn btn-default morerelationshipbtn" id="btnorgexternalsupporttable">External Support</button>

	<div id="orgexternalsupporttable" class="orgrelationshiptable">
		<table id="org_externaldisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Organization Name</th>
					<th>Primary Phone</th>
					<th>Primary Email</th>
					<th>Relationship Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
            <% var contacttype = "3";
			while ((i < organization_relationship.length) && (organization_relationship[i].lk_contact_type === contacttype)) {
 				var oorelation_organizationid = "oorelation_organizationid" + i;
				var oorelation_contacttype = "oorelation_contacttype" + i;
				var oorelation_relationshiptype = "oorelation_relationshiptype" + i;
				var oorelation_status = "oorelation_status" + i;
				var oorelation_startdate = "oorelation_startdate" + i;
				var oorelation_enddate = "oorelation_enddate" + i;
				var oorelation_endreason = "oorelation_endreason" + i;
				var endorganizationrelationship = "endorganizationrelationship" + i;
				var removeorganizationrelationship = "removeorganizationrelationship" + i;
			%>
				<tr>
					<td><span hidden id="<%= oorelation_organizationid %>"><%= organization_relationship[i].organization_id2 %></span><a href="/organization/<%= organization_relationship[i].organization_id2 %>"><%= organization_relationship[i].organization_name %></a></td>
					<td><%= organization_relationship[i].primary_phone %></td>
					<td><%= organization_relationship[i].primary_email %></td>
					<td><span hidden id="<%= oorelation_contacttype %>"><%= organization_relationship[i].lk_contact_type %></span><span id="<%= oorelation_relationshiptype %>"><%= organization_relationship[i].lk_organization_relationship_type %></span></td>
					<td><span id="<%= oorelation_status %>"><%= organization_relationship[i].lk_status %></span></td>
				</tr>
				<tr>
					<td colspan="4">
						<p><strong>Start Date:</strong> <span id="<%= oorelation_startdate %>"><%= organization_relationship[i].start_date %></span> &nbsp;&nbsp; <strong>End Date:</strong> <span class="endoor" id="<%= oorelation_enddate %>"><%= organization_relationship[i].end_date %></span></p>	
						<p><strong>End Reason:</strong> <span id="<%= oorelation_endreason %>"><%= organization_relationship[i].end_reason %></span></p>
					</td>
					<td class="tablebtns" id="<%= organization_relationship[i].organization_relationship_id %>">
						<button class="btn btn-warning btn-md tableendbtn organizationrelationshipendbtn" id="<%= endorganizationrelationship %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    <form action="#" method="post">
	                        <button class="btn btn-danger btn-md tableremovebtn endthisbtn" id="<%= removeorganizationrelationship %>" name="removeorganizationrelationship"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	                    </form>
					</td>
				</tr>
             <% i += 1;
			} %>
			</tbody>
		</table>
	</div><!-- orgexternalsupporttable -->


		</div><!-- tabpanel relatedorganizations -->



<!--  ************************************************************************************************************************ -->


		<div role="tabpanel" class="tab-pane" id="companycases">

<div class="buttonrow creatediv">
	<p><a href="/case" class="btn btn-primary btn-md" id="createcasebtn">Create Case</a></p>
</div>
<br>
<h4>Company Cases</h4>

	<% if (my_cases.length > 0) { %>
		<table id="casedisplaytable" class="table table-responsive table-striped table-condensed">
			<thead>
				<tr class="info">
					<th>Case Title</th>
					<th>Due Date</th>
					<th>Priority</th>
					<th>Company Role</th>
					<th>Company Start Date</th>
					<th>Company End Date</th>
				</tr>
			</thead>
			<tbody>
			<% my_cases.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<%  for (var i = 0; i < my_cases.length; i += 1) { %>
				<tr>
					<td><a href="/case/<%= my_cases[i].case_id %>"><%= my_cases[i].title %></a></td>
					<td><%= my_cases[i].duedate %></td>
					<td><%= my_cases[i].priority %></td>
					<td><%= my_cases[i].role %></td>
					<td><%= my_cases[i].startdate %></td>
					<td><%= my_cases[i].enddate %></td>
				</tr>
        	<% } %>
			</tbody>
		</table>
    <% } %>


		</div><!-- tabpanel cases -->

	</div><!-- tab-content -->
	
</div><!-- taskpanel -->

</div><!-- cmscontent container -->

<script src="../js/cms_organization.js"></script>


<script>
function getorganizationinfo() {
	$("#organizationname").val("<%= thisorg.organization_name %>");
	$("#organizationwebsite").val("<%= thisorg.organization_website %>");
	$("#organizationrole").val("<%= thisorg.lk_user_role %>");
	$("#organizationtype").val("<%= thisorg.lk_organization_type %>");
	$("#organizationrolestatus").val("<%= thisorg.lk_organization_status %>");
	$("#organizationnote").val("<%= thisorg.note %>");
}
getorganizationinfo();

$(".personrelationshiptable").hide();
$(".orgrelationshiptable").hide();

var removereq = $("#organizationform .requiredfield");
for (var r = 0; r < removereq.length; r += 1) {
	removereq[r].style.borderColor = "#cccccc";
}
</script>


<% include ../partials/footer2 %>