<% include ../partials/header2 %>


<div id="topbar">
	<h1>Case</h1>
</div><!-- topbar -->

<form id="caseform" action="/case" method="post">
<fieldset id="ablecaseform">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="casetitle">Title</label>
				<input type="text" class="form-control requiredfield" id="casetitle" name="casetitle" size="90" maxlength="150" value=""/>
			</div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="casedescription">Description</label>
				<textarea class="form-control" id="casedescription" name="casedescription"></textarea>
			</div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casedomain">Domain</label>
				<select class="form-control" id="casedomain" name="casedomain">
					<option value="0">Select</option>
                <% for (var i = 1; i <= caseDomain.length; i += 1) { %>
					<option value="<%= caseDomain[i - 1] %>"><%= caseDomain[i - 1] %></option>
                <% } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casecategory">Category</label>
				<select class="form-control" id="casecategory" name="casecategory">
					<option value="0" selected>Select</option>
                <% for (var i = 1; i <= caseCategory.length; i += 1) { %>
					<option value="<%= caseCategory[i - 1] %>"><%= caseCategory[i - 1] %></option>
                <% } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casetype">Type</label>
				<select class="form-control" id="casetype" name="casetype">
					<option value="0" selected>Select</option>
                <% for (var i = 1; i <= caseDomain.length; i += 1) {
                	for (var j = 1; j <= caseCategory.length; j += 1) { %>
					<option class="<%= i %> <%= j %>" value="<%= caseDomain[i - 1] %> and <%= caseCategory[j - 1] %>"><%= caseDomain[i - 1] %> and <%= caseCategory[j - 1] %></option>
				<% } } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casestatus">Status</label>
				<select class="form-control" id="casestatus" name="casestatus">
					<option value="0" selected>Select</option>
                <% for (var i = 1; i <= caseStatus.length; i += 1) { %>
					<option value="<%= caseStatus[i - 1] %>"><%= caseStatus[i - 1] %></option>
                <% } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="caseseverity">Severity</label>
				<select class="form-control" id="caseseverity" name="caseseverity">
					<option value="0" selected>Select</option>
                <% for (var i = 1; i <= caseSeverity.length; i += 1) { %>
					<option value="<%= caseSeverity[i - 1] %>"><%= caseSeverity[i - 1] %></option>
                <% } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casepriority">Priority</label>
				<select class="form-control" id="casepriority" name="casepriority">
					<option value="0" selected>Select</option>
                <% for (var i = 1; i <= casePriority.length; i += 1) { %>
					<option value="<%= casePriority[i - 1] %>"><%= casePriority[i - 1] %></option>
                <% } %>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casestartdate">Start Date</label>
				<input type="text" class="form-control" id="casestartdate" name="casestartdate" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="caseduedate">Due Date</label>
				<input type="text" class="form-control" id="caseduedate" name="caseduedate" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-group">
				<label for="casecompletedate">Complete Date</label>
				<input type="text" class="form-control" id="casecompletedate" name="casecompletedate" disabled value=""/>
			</div>
		</div>
	</div><!-- row -->
</fieldset>
	<div id="resetsubmitcase" class="buttonrow">
		<button type="reset" class="btn btn-warning btn-md mainresetbtn" id="resetcase1" name="resetcase1">Reset</button>
		<button type="submit" class="btn btn-warning btn-md mainsubmitbtn" id="submitcase1" name="submitcase1">Submit</button>
	</div>
</form>

</div><!-- cmscontent container -->

<script src="../js/cms_case.js"></script>

<% include ../partials/footer3 %>