<% include ../partials/header1 %>


<div id="taskfiltersection">

	<h5><button id="tasksfilterbtn" class="btn btn-default btn-md filterbtn"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button> Task Filter</h5>

	<form id="tasksfilterform" class="filterform" action="/tasks" method="POST">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="taskfilterselecttask">Tasks</label>
				<select class="form-control" id="taskfilterselecttask" name="taskfilterselecttask">
					<option value="0">All</option>
					<option value="1" selected>My Tasks</option>
				</select>
			</div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="form-group">
				<label for="taskfilterfromstartdate">From Start Date</label>
				<input type="text" class="form-control" id="taskfilterfromstartdate" name="taskfilterfromstartdate" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="form-group">
				<label for="taskfiltertostartdate">To Start Date</label>
				<input type="text" class="form-control" id="taskfiltertostartdate" name="taskfiltertostartdate" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="form-group">
				<label for="taskfilterfromduedate">From Due Date</label>
				<input type="text" class="form-control" id="taskfilterfromduedate" name="taskfilterfromduedate" value=""/>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="form-group">
				<label for="taskfiltertoduedate">To Due Date</label>
				<input type="text" class="form-control" id="taskfiltertoduedate" name="taskfiltertoduedate" value=""/>
			</div>
		</div>
	</div><!-- row -->
	<div class="buttonrow">
		<button type="reset" class="btn btn-md btn-warning" id="resettasksfilter">Reset</button>
		<button type="submit" class="btn btn-md btn-warning submitfilterbtn" id="submittasksfilter">Submit</button>
	</div>
	</form>

	</div><!-- taskfiltersection -->

	<br>

<div id="navbtns" class="buttonrow creatediv_multi">
	<p>
		<a href="/case" class="btn btn-primary btn-md" id="createcasebtn">Create Case</a>
		<a href="/person" class="btn btn-primary btn-md createbtn" id="createpersonbtn">Create Person</a>
		<a href="/organization" class="btn btn-primary btn-md createbtn" id="createorganizationbtn">Create Organization</a>
		<a href="/questionnaires" class="btn btn-primary btn-md createbtn" id="managequestionnairebtn">Manage Questionnaire</a>
	</p>
</div>

<br><br>

		<h4><button id="plustask" class="btn btn-default btn-md plusbtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> Task</h4>

		<form id="taskform" class="toggleform" action="/task" method="POST">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="tasksubject">Subject</label>
						<input type="text" class="form-control requiredfield" id="tasksubject" name="tasksubject" size="90" maxlength="100" value=""/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="tasktype">Type</label>
						<select class="form-control" id="tasktype" name="tasktype">
							<option value="0" selected>Select</option>
						<% for (var i = 1; i <= taskType.length; i += 1) { %>
							<option value="<%= taskType[i - 1] %>"><%= taskType[i - 1] %></option>
						<% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskpriority">Priority</label>
						<select class="form-control" id="taskpriority" name="taskpriority">
							<option value="0" selected>Select</option>
                        <% for (var i = 1; i <= casePriority.length; i += 1) { %>
                            <option value="<%= casePriority[i - 1] %>"><%= casePriority[i - 1] %></option>
                        <% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskstartdate">Start Date</label>
						<input type="text" class="form-control" id="taskstartdate" name="taskstartdate" value=""/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskduedate">Due Date</label>
						<input type="text" class="form-control" id="taskduedate" name="taskduedate" value=""/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskcompletedate">Complete Date</label>
						<input type="text" class="form-control" id="taskcompletedate" name="taskcompletedate" disabled value=""/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskassignedperson">Assigned To</label>
						<select class="form-control" id="taskassignedperson" name="taskassignedperson">
							<option value="0" selected>Select</option>
							<% person.sort(function(a,b) {
				                return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			                }); %>
							<% for (var i = 0; i < person.length; i += 1) { %>
							<option value="<%= person[i].person_id %>"><%= person[i].last_name %>, <%= person[i].first_name %> <%= person[i].middle_name %></option>
                            <% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskcaseid">Case Title</label>
						<select class="form-control" id="taskcaseid" name="taskcaseid">
							<option value="0" selected>Select</option>
							<% cases.sort(function(a,b) {
				                return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			                }); %>
							<% for (var i = 0; i < cases.length; i += 1) { %>
							<option value="<%= cases[i].case_id %>"><%= cases[i].case_title %></option>
                            <% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4">
					<div class="form-group">
						<label for="taskstatus">Status</label>
						<select class="form-control" id="taskstatus" name="taskstatus">
							<option value="0" selected>Select</option>
						<% for (var i = 1; i <= taskStatus.length; i += 1) { %>
							<option value="<%= taskStatus[i - 1] %>"><%= taskStatus[i - 1] %></option>
						<% } %>
						</select>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="tasknote">Note</label>
						<textarea class="form-control" id="tasknote" name="tasknote"></textarea>
					</div>
				</div>
			</div><!-- row -->
			<div class="buttonrow">
				<button type="reset" class="btn btn-warning btn-md resetbtn" id="resettask" name="resettask">Reset</button>
				<button type="submit" class="btn btn-warning btn-md submitbtn" id="submittask" name="submittask">Submit</button>
			</div>
		</form>

		<% taskslisting.sort(function(a,b) {
			return (a.case_id - b.case_id) || (a.task_id - b.task_id);
		}); %>

	<div class="form-group">
		<label for="expandtasks" class="btn btn-sm btn-default">
			<input type="radio" name="showtasks" id="expandtasks" class="expandtasksbtn" checked> Show Tables
		</label>
		<label for="collapsetasks" class="btn btn-sm btn-default">
			<input type="radio" name="showtasks" id="collapsetasks" class="collapsetasksbtn"> Hide Tables
		</label>
	</div>


	<% for (var i = 0; i < taskslisting.length; i += 1) {
		var tasktable = "tasktable" + i;
		var btntasktable = "btntasktable" + i;
		var tsubject = "tsubject" + i;
		var ttype = "ttype" + i;
		var tpriority = "tpriority" + i;
		var tstart = "tstart" + i;
		var tdue = "tdue" + i;
		var tcomplete = "tcomplete" + i;
		var tpersonid = "tpersonid" + i;
		var tstatus = "tstatus" + i;
		var tnote = "tnote" + i;
		var task = "task" + i;
		var edittask = "edittask" + i;
		var removetask = "removetask" + i;
	%>
	<% if ((i === 0) || ((i > 0) && (taskslisting[i - 1].case_id !== taskslisting[i].case_id))) { %>
	<h6><a href="/case/<%= taskslisting[i].case_id %>"><button class="btn btn-default btn-md taskcasebtn"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></a> <button class="btn btn-primary btn-md moretaskbtn" id="<%= btntasktable %>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <%= taskslisting[i].case_title %></h6>
	<div id="<%= tasktable %>" class="tasktable">
		<table id="tasksdisplaytable" class="table table-responsive table-striped table-condensed 2rowremovebtntop">
			<thead>
				<tr class="info">
					<th>Task Subject</th>
					<th>Type</th>
					<th>Priority</th>
					<th>Due Date</th>
					<th>Assigned To</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		<% } %>
				<tr>
					<td id="<%= tsubject %>"><%= taskslisting[i].subject %></td>
					<td id="<%= ttype %>"><%= taskslisting[i].type %></td>
					<td id="<%= tpriority %>"><%= taskslisting[i].priority %></td>
					<td id="<%= tdue %>"><%= taskslisting[i].due_date %></td>
					<td><span hidden id="<%= tpersonid %>"><%= taskslisting[i].person_id %></span><a href="/person/<%= taskslisting[i].person_id %>"><%= taskslisting[i].person_name %></a></td>
					<td id="<%= tstatus %>"><%= taskslisting[i].task_status %></td>
					<td class="tablebtns" id="<%= taskslisting[i].task_id %>">
						<button class="btn btn-primary btn-md tableeditbtn taskeditbtn" id="<%= edittask %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
						<button class="btn btn-default morebtn" type="button" data-toggle="collapse" data-target="#<%= task %>" aria-expanded="false" aria-controls="<%= task %>"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-md tableremovebtn" id="<%= removetask %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</td>
				</tr>
				<tr>
					<td colspan="7">						
						<div class="collapse" id="<%= task %>">
							<p><strong>Start Date:</strong> <span id="<%= tstart %>"><%= taskslisting[i].start_date %></span> &nbsp;&nbsp; 
							<strong>Complete Date:</strong> <span id="<%= tcomplete %>"><%= taskslisting[i].complete_date %></span>
							</p>
							<p><strong>Note:</strong> <span id="<%= tnote %>"><%= taskslisting[i].note %></span></p>
						</div>
					</td>
				</tr>
		      </tr>
			<% if ((taskslisting.length === 1) || (i === taskslisting.length - 1) || ((i < taskslisting.length) && (taskslisting[i].case_id !== taskslisting[i + 1].case_id))) { %>
			</tbody>
		</table>
		</div>
        <% } } %>

<br><br><br>

<h4>Overdue Tasks (<span id="overduetasks"><%= overdue_tasks.length %></span>)</h4>

	<% if (overdue_tasks.length > 0) { %>
		<table id="overduetaskdisplaytable" class="table table-responsive table-striped table-condensed">

			<thead>
				<tr class="info">
					<th>Task Subject</th>
					<th>Type</th>
					<th>Priority</th>
					<th>Due Date</th>
					<th>Assigned To</th>
					<th>Case Title</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% overdue_tasks.sort(function(a,b) {
				return (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0);
			}); %>
			<% for (var i = 0; i < overdue_tasks.length; i += 1) { %>
				<tr>
					<td><%= overdue_tasks[i].subject %></td>
					<td><%= overdue_tasks[i].type %></td>
					<td><%= overdue_tasks[i].priority %></td>
					<td><%= overdue_tasks[i].due_date %></td>
					<td><a href="/person/<%= overdue_tasks[i].person_id %>"><%= overdue_tasks[i].person_id %></a></td>
					<td><a href="/case/<%= overdue_tasks[i].case_id %>"><%= overdue_tasks[i].case_id %></a></td>
					<td><%= overdue_tasks[i].task_status %></td>
				</tr>
			<% } %>
			</tbody>
		</table>
	<% } %>


</div><!-- cmscontent container -->

<script>
$(".tasktable").show();
</script>

<% include ../partials/footer1 %>